body{
    width: 80vw;
    margin: 0 auto;
    
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.container {
    height: 80vh;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 28px;
    text-align: center;
    background-color: #70837A;
    width: 70vw;
}

.stats {
    flex: 1;
    background-color: #70837A;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.stats h2 {
    margin-top: 24%;
}

.stats div {
    margin-bottom: 20px;
}

#restart,
#replay {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #99560D;
    height: 40px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}

#restart:hover,
#replay:hover {
    background-color: #8d7459;
}

.win-msge {
    background-color: rgb(62, 95, 62);
    border-radius: 9px;
    padding: 5px 0;
}

.board {
    flex: 3;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.g-item {
    background-color: #99560D;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    cursor: pointer;
}

.g-item:hover {
    border: 5px solid rgb(62, 95, 62);
}

.footer {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
    }

    .stats {
        font-size: 24px;
    }

    #restart,
    #replay {
        font-size: 16px;
    }

    .g-item {
        font-size: 80px;
    }

    .footer {
        font-size: 24px;
    }
}